body { /*Formatação do corpo*/
	padding-top: 50px;
	padding-bottom: 40px;
	background-image: url(../imagens/fundo.jpg);
	background-size: auto;
	margin: auto;
}

/*FORMATAÇÃO MENU*/
#menu ul { /*Parte da tag ul*/
	margin: auto;
	background-color: #DBA901;
	list-style: none;
}

#menu ul li { /*Parte da tag li*/
	display: inline;
}

#menu ul li a { /*Parte da tag a*/
	padding: 10px 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
}

/*FORMATAÇÃO FORM GERAL*/
.container { /*Formatação div da área de login e cadastro*/
	margin: auto;
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 0;
	right: 0;
}

/*FORMATAÇÃO FORM LOGIN*/
.form-signin {
	font-family: Verdana, Geneva, sans-serif;
	max-width: 330px;
	padding: 45px;
	margin-left: 38%;
	color: #DBA901;
	overflow: hidden;
}

.form-signin .form-signin-heading,
.form-signin .checkbox { /* Formatação margem do Título e do Checkbox */
	margin-bottom: 10px;
	margin-left: 20%;
}

/*FORMATAÇÃO FORM RECUPERAÇÃO DE SENHA*/
.form-recuperacao { /*Formatação geral do form da recuperação de senha*/
	font-family: Verdana, Geneva, sans-serif;
	max-width: 300px;
	padding: 50px;
	margin-left: 38%;
	color: #DBA901;
	overflow: hidden;
}

.form-recuperacao .form-recuperacao-heading,
.form-recuperacao .checkbox { /* Formatação margem do Título e do Checkbox */
	margin-bottom: 20px;
	margin-left: 0%;
}

/*FORMATAÇÃO FORM DE CADASTRO*/
.form-cadastro { /*Formatação geral do form de cadastro*/
	font-family: Verdana, Geneva, sans-serif;
	max-width: 330px;
	padding: 45px;
	margin-left: 38%;
	color: #DBA901;
	overflow: hidden;
	position: absolute;
}

.form-cadastro .form-cadastro-heading,
.form-cadastro .checkbox { /* Formatação margem do Título e do Checkbox */
	margin-bottom: 10px;
	margin-left: 20%;
}

/*FORMATAÇÃO FORM DE ALTERAÇÃO DE SENHA*/
.form-alteracao { /*Formatação geral do form de cadastro*/
	font-family: Verdana, Geneva, sans-serif;
	max-width: 330px;
	padding: 45px;
	margin-left: 38%;
	color: #DBA901;
	overflow: hidden;
	position: absolute;
}

.form-alteracao .form-alteracao-heading,
.form-alteracao .checkbox { /* Formatação margem do Título e do Checkbox */
	margin-bottom: 10px;
	margin-left: 20%;
}

.button { /* Formatação da fonte do botão */
	margin-right: 50%;
	margin-left: 28%;
	margin-top: 3%;
	font-size: 20px;
}
#email{
	margin-top: 2%;
	font-size: 20px;
}

#senha{
	margin-top: 2%;
	font-size: 20px;
}

#nascimento{
	margin-top: 2%;
	font-size: 20px;
}

#nome{
	margin-top: 2%;
	font-size: 20px;
}

#pass{
	margin-top: 2%;
	font-size: 20px;
}

#pass_confirm{
	margin-top: 2%;
	font-size: 20px;
}

.link {
	font-size: 10px;
}

#curso{
	width: 50%;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 200px;
	margin-bottom: 3px;
}
